on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Check types and linting
        env:
          SKIP_ENV_VALIDATION: true
        run: |
          pnpm install
          pnpm typecheck 
          pnpm lint
